#!/usr/bin/env bash

watch_file devshell.nix
watch_file .envrc.local

use_flake

# allow local .envrc overrides, used for secrets (see .envrc.local-template)
[[ -f .envrc.local ]] && source_env .envrc.local